<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Academy of dance</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 website landing page for developers and startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="assets/images/logo.png">  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Регестрация-->
    <link rel="stylesheet" href="assets/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="assets/css/contact.css" media="screen">

      <script src="teachr.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script src="assets/js/teacher.js" defer></script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="связь">
    <meta property="og:type" content="website">
   <!--Регестрация -->
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">       
            <h1 class="logo">
                <a class="scrollto" href="#hero">
                    <span ><img class="logo-icon" src="assets/images/logo.png" alt="icon"></span>
                    <span class="text"><span class="highlight">Academy of dance</span></span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a class="scrollto" href="#about">Направлення</a></li>
                        <li class="nav-item"><a class="scrollto" href="#testimonials">Галерея</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Історія</a></li>                        
                        <li class="nav-item"><a class="scrollto" href="#team">Тренери</a></li>
                        <li class="nav-item"><a class="scrollto" href="#pricing">Ціни</a></li>
                        <li class="nav-item"><a class="scrollto" href="#contact">Зв'язок</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div id="hero" class="hero-section">
        
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
            
            <div class="figure-holder-wrapper">
        		<div class="container">
            		<div class="row">
                		
            		</div><!--//row-->
        		</div><!--//container-->
    		</div><!--//figure-holder-wrapper-->
            
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
				<li data-slide-to="1" data-target="#hero-carousel"></li>
				<li data-slide-to="2" data-target="#hero-carousel"></li>
			</ol>
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
    			
				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
    				        
				            <h2 class="heading">«Живи с танцем, танцуй с любовью».</h2>
				            <p class="intro">Основными  направлениями творческой деятельности Академии являются восточные танцы и эстетическая хореография. </p>
				            
    				        
    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->
				
				<div class="item item-2">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading">«Живи с танцем, танцуй с любовью».</h2>
				            <p class="intro">Основателем и директором «Академии танца» уже 10 лет является прекрасная женщина, дипломированный педагог-хореограф, судья международной категории Воскресенская Элина</p>
				            
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
				
				<div class="item item-3">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading">«Живи с танцем, танцуй с любовью».</h2>
				            <p class="intro">педагогам коллектива «Академии танца» удается развивать творческий потенциал воспитанниц</p>
				            
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->
    
    <div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">Приходьте до нас!</h2>
            <p class="intro">      «Академiя танцю» - один із провiдних колективів зi схiдних танців в Україні, який включає в собі групи, розподiленi за вiковим принципом (ювiнали, юнiори, молодь) та за 
                рiвнем пiдготовки  (дебют, початкiвцi, вища ліга, професiонали).
                </p>
            
            <div class="items-wrapper row">
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/vos.JPG" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Східне відділення</h3>
                        <div class="item-desc">
                            Всi цi роки колектив «Академiї танцю» развивається та  росте в майстерностi  виконання схiдного та сучасного танців. 
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/horeg.jpg" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Гімнастика</h3>
                        <div class="item-desc">
                            До складу   «Академiї танцю» входить  бiля  60 вихованцiв. Колектив не зупиняється на досягнутому,  постiйно знаходиться в творчому пошуку та прагне завоювати новi висоти. </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="assets/images/gim.JPG" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Хореографія</h3>
                        <div class="item-desc">
                            Всі результати змагань та фестивалів фіксуються у реєстрі УАВСТ та кваліфікаційних книжках сольних виконавців.</div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->
    
    <!--галерея -->
    <div id="testimonials" class="container">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src="assets/images/gal1.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="assets/images/gal2.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="assets/images/gal3.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="assets/images/gal4.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="assets/images/gal5.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="assets/images/gal6.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="assets/images/gal1.jpg" style="width:100%" onclick="currentSlide(1)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/images/gal2.jpg" style="width:100%" onclick="currentSlide(2)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/images/gal3.jpg" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/images/gal4.jpg" style="width:100%" onclick="currentSlide(4)">
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/images/gal5.jpg" style="width:100%" onclick="currentSlide(5)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/images/gal6.jpg" style="width:100%" onclick="currentSlide(6)">
    </div>
  </div>
</div>
      
      <!-- The expanding image container -->
      <div class="container">
        <!-- Close the image -->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
      
        <!-- Expanded image -->
        <img id="expandedImg" style="width:100%">
      
        <!-- Image text -->
        <div id="imgtext"></div>
      </div>
    
    <div id="features" class="features-section">
        <div class="container text-center">
            <h2 class="section-title">Історія «Академiї танцю</h2>
            <p class="intro">ЗОГО « Академия танца» официально существует с 2008г. Основными  направлениями творческой деятельности Академии являются восточные танцы и эстетическая хореография. Так же, с момента своего основания танцевальный коллектив  является преданным членом и союзником УАВСТ.
                Танцевальная организация « Академия танца» это не только школа, где изучают различные танцевальные дисциплины: классическая хореография, народно-сценический танец, акробатика, ритмика, арабская техника. «Академия танца»- это огромная семья, где любят, помнят и гордятся каждым, кто вкладывает частичку своей души в этот прекрасный коллектив, для которого танец – жизнь.
                Во времена глобальных политических перемен, экономических трудностей педагогам коллектива «Академии танца» удается развивать творческий потенциал воспитанниц, находить возможности участвовать на фестивалях, конкурсах и занимать достойные призовые места, как в Украине, так и за рубежом.
                Основателем и директором «Академии танца» уже 10 лет является прекрасная женщина, дипломированный педагог-хореограф, судья международной категории Воскресенская Элина. Под её чутким руководством более 100 участниц разных возрастов занимаются в коллективе, более 10 воспитанниц стали педагогами-хореографами.
                С 2012г. отделение восточного танца возглавила воспитанница «Академии танца», профессиональная исполнительница УАВСТ, судья высшей категории Кононенко Мадина. С её приходом коллектив обрел второе дыхание, Мадина привнесла больше креативности, молодой энергии в жизнь и работу коллектива. В тандеме с ней начинают работать молодые тренера: Гаврилова Екатерина, Зивенко Дарья, Прядко Юлия, Вайнович Александра, Громовая Юлия, Искендерова Лейла. Каждая из них с огромным вдохновением и любовью развивала коллектив и приумножала победы и успехи воспитанниц на соревнованиях. 
                География участий и побед сольных и групповых выступлений включает в себя такие города как: Днепр, Харьков, Одесса, Ялта, Львов, Киев, Луганск, Донецк, Бердянск, Мелитополь. Запорожье, Прага. Репертуар коллектива более 30 постановок и с 2012г. ежегодно «Академия танца» проводит отчетные концерты. В 2013г. коллективу «Академия танца» присвоено звание «Образцового».
                И во многом благодаря родительской поддержке, энтузиазму и неиссякаемой энергии родных и близких, коллектив из года в год живет, развивается и достигает успехов.
                В ближайших творческих планах участие исполнителей и тренеров на международных фестивалях ближнего зарубежья: Польши, Белоруссии, России, а так же Европы.
                И наверно самым главным успехом и правильным педагогичным подходом педагогов «Академии танца» является то, что почти каждая воспитанница желает стать педагогом-хореографом и быть похожей на своих учителей.
                И в заключение хотелось бы озвучить основной жизненный принцип «Академии танца»: «Живи с танцем, танцуй с любовью».
                
    </p>
            
            
            
        </div><!--//container-->
    </div><!--//features-->






   <!-- <div id="app">
      <table class="table table-dark">
        <tr v-for="item in teachers"  v-bind:key="item.id">
          <img class="profile-image" src="{{item.photo}}">
          <td>{{item.name}}</td>
        </tr>
      </table>
    </div>
  -->






    <div class="team-section" id="team">
        <div class="container text-center">
            <h2 class="section-title">Наші тренери</h2>
            <p class="intro">See who are behind AppKit</p>
            <div class="members-wrapper row">
              


              <div id="app">
                <table class="table table-dark">
                  <tr v-for="item in teachers"  v-bind:key="item.id">
                    <div class="item col-md-6 col-sm-6 col-xs-12">
                      <div class="item-inner">
                          <div class="profile">
                              <img class="profile-image" v-bind:src="item.photo">
                          </div>
                          
                          <div class="member-content">
                              <h3 class="member-name">{{item.name}} </h3>
                              <div class="member-title">{{item.posada}} </div>
                              <ul class="social list-inline">
                                 
                                  <li><a class="facebook" href="https://www.facebook.com/3rdwavethemes/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                  
                              </ul>
                              <div class="member-desc">
                                 <p>{{item.desc}}</p>
                              </div><!--//member-desc-->
                          </div><!--//member-content-->
                      </div><!--//item-inner-->
                  </div><!--//item-->  
                  </tr>
                </table>
              </div>

                



          <!--      <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="profile">
                            <img class="profile-image" src="assets/images/MK.jpg" alt="Tom Najdek" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Кононенко Мадіна</h3>
                            <div class="member-title">Керівниця східного відділення</div>
                            <ul class="social list-inline">
                                <li><a class="twitter" href="http://twitter.com/tnajdek" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.doppnet.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                                <li><a class="github" href="https://github.com/tnajdek" target="_blank"><i class="fa fa-github"></i></a></li>
                               
                                
                            </ul>
                            <div class="member-desc">
                                <p>Tom takes care of everything on the programming end making the interface rich and flexible. He is a full-stack developer specialising in building large, scalable and user-friendly web apps. Follow him on <a href="https://twitter.com/tnajdek" target="_blank">Twitter</a> for fresh developer tips and check out his <a href="https://github.com/tnajdek" target="_blank">Github</a> for useful open-source tools.
</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="profile">
                            <img class="profile-image" src="assets/images/LZ.jpg" alt="Tom Najdek" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Зубова Валерія</h3>
                            <div class="member-title">Тренерка східного відділення</div>
                            <ul class="social list-inline">
                                <li><a class="twitter" href="http://twitter.com/tnajdek" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.doppnet.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                                <li><a class="github" href="https://github.com/tnajdek" target="_blank"><i class="fa fa-github"></i></a></li>
                               
                                
                            </ul>
                            <div class="member-desc">
                                <p>Tom takes care of everything on the programming end making the interface rich and flexible. He is a full-stack developer specialising in building large, scalable and user-friendly web apps. Follow him on <a href="https://twitter.com/tnajdek" target="_blank">Twitter</a> for fresh developer tips and check out his <a href="https://github.com/tnajdek" target="_blank">Github</a> for useful open-source tools.
</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="profile">
                            <img class="profile-image" src="assets/images/NN.jpg" alt="Tom Najdek" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Назаренко Вероніка</h3>
                            <div class="member-title">Тренерка відділення гімнастики</div>
                            <ul class="social list-inline">
                                <li><a class="twitter" href="http://twitter.com/tnajdek" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.doppnet.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                                <li><a class="github" href="https://github.com/tnajdek" target="_blank"><i class="fa fa-github"></i></a></li>
                               
                                
                            </ul>
                            <div class="member-desc">
                                <p>Tom takes care of everything on the programming end making the interface rich and flexible. He is a full-stack developer specialising in building large, scalable and user-friendly web apps. Follow him on <a href="https://twitter.com/tnajdek" target="_blank">Twitter</a> for fresh developer tips and check out his <a href="https://github.com/tnajdek" target="_blank">Github</a> for useful open-source tools.
</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    
    <div id="pricing" class="pricing-section">
        <div class="container text-center">
            <h2 class="section-title">Pricing</h2>
            <div class="intro">Ми можемо запропонувати найнижчі ціни в Запоріжжі</div>
            <div class="pricing-wrapper">
                <div class="item item-1 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Перші кроки</h3>
                        <div class="price-figure">
                            <span class="currency">₴</span><span class="number">600</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Для дітей які вперше у нас.</p>
                            <p>Details</p> 
                            
                            
                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="">Buy Now</a>
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-2 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Multiple Applications</h3>
                        <div class="price-figure">
                            <span class="currency">₴</span><span class="number">550</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Конкурсна група</p>
                            <a href="" target="_blank">Для тих хто займається наполегливо</a>
                            
                            
                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="">Buy Now</a>
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                
                <div class="item item-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Extended</h3>
                        <div class="price-figure">
                            <span class="currency">₴</span><span class="number">650</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Ваш час завжди з нами</p>
                            <a href="" target="_blank">Вік не перешкода для нас</a>
                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="" target="_blank">Buy Now</a>
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//pricing-wrapper-->
            
        </div><!--//container-->
    </div><!--//pricing-section-->
    <!-- <div id="contact" class="contact-section">
        <div class="container text-center">
            <h2 class="section-title">Contact Us</h2>
            <input class="wrapped-input" type="text" spellcheck="false" id="widgetu839_input" name="custom_U839" tabindex="1">
            
        </div>
    </div> --><!--//contact-section-->
    <!--Регестрация-->
    <div id="contact" class="u-body">
        <section class="u-align-center u-clearfix u-section-1" id="carousel_d4a5">
          <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    <h6 class="u-text u-text-default u-text-1">Зв'яжіться з нами</h6>
                    <div class="u-expanded-width u-form u-form-1">
                      <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                        <div class="u-form-group u-form-name">
                          <label for="name-daf4" class="u-label">Ім'я</label>
                          <input type="text" placeholder="Введіть ваше Ім'я" id="name-daf4" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-email u-form-group">
                          <label for="email-daf4" class="u-label">Email</label>
                          <input type="email" placeholder="Enter a valid email address" id="email-daf4" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-group u-form-message">
                          <label for="message-daf4" class="u-label">Повідомлення</label>
                          <textarea placeholder="" rows="4" cols="50" id="message-daf4" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required=""></textarea>
                        </div>
                        <div class="u-form-agree u-form-group u-form-group-4">
                          <input type="checkbox" id="agree-f183" name="agree" class="u-agree-checkbox" required="">
                          <label for="agree-f183" class="u-label">I accept the <a href="#">Terms of Service</a>
                          </label>
                        </div>
                        <div class="u-align-left u-form-group u-form-submit">
                          <a href="#" class="u-active-palette-5-dark-2 u-border-none u-btn u-btn-submit u-button-style u-hover-palette-5-dark-2 u-palette-3-base u-btn-1">Submit</a>
                          <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                      </form>
                    </div>
                  </div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-palette-5-dark-3 u-size-20 u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h6 class="u-text u-text-default u-text-palette-3-base u-text-2">Подзвоніть нам</h6>
                    <p class="u-text u-text-3">+38 (067)-714-81-79<br> +38(067)-366-37-00
                    </p>
                    <h6 class="u-text u-text-default u-text-palette-3-base u-text-4">Розташування</h6>
                    <p class="u-text u-text-5">бул Вінтера 16,<br>Запоріжжя,69065
                    </p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3">
                    <div class="u-expanded u-grey-light-2 u-map">
                      <div class="embed-responsive">
                        <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=21%20Avenue%2C%20New%20York&amp;z=10&amp;t=m" data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMjIxJTIwQXZlbnVlJTJDJTIwTmV3JTIwWW9yayUyMiUyQyUyMnpvb20lMjIlM0ExMCUyQyUyMnR5cGVJZCUyMiUzQSUyMnJvYWQlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTdE"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
     <!--Регестрация-->

    <footer class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            
            
            
        </div><!--//container-->
    </footer>
     
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>     
    <script type="text/javascript" src="assets/js/main.js"></script> 
    <script class="u-script" type="text/javascript" src="assets/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="assets/js/nicepage.js" defer=""></script>
</body>
</html> 

